fastapi==0.115.6
fastapi-cli==0.0.7
llama-cloud==0.1.35
llama-index==0.12.52
llama-index-agent-openai==0.4.12
llama-index-cli==0.4.4
llama-index-core==0.12.52.post1
llama-index-embeddings-azure-openai==0.3.9
llama-index-embeddings-gemini==0.3.2
llama-index-embeddings-huggingface==0.5.5
llama-index-embeddings-ollama==0.6.0
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.8.0
llama-index-llms-azure-openai==0.3.4
llama-index-llms-gemini==0.5.0
llama-index-llms-openai==0.4.7
llama-index-llms-ollama==0.6.2
llama-index-llms-anthropic==0.7.6
llama-index-multi-modal-llms-openai==0.5.3
llama-index-program-openai==0.3.2
llama-index-question-gen-openai==0.3.1
llama-index-readers-database==0.4.0
llama-index-readers-file==0.4.11
llama-index-readers-llama-parse==0.4.0
llama-index-vector-stores-lancedb==0.3.0
llama-parse==0.6.54
huggingface-hub==0.34.4
lancedb==0.17.0
python-dotenv==1.0.1
pydantic
pydantic[email]
python-multipart==0.0.20
SQLAlchemy==2.0.36
uvicorn==0.34.0
aio-pika==9.4.0
torch==2.8.0
transformers==4.55.4

